@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}
<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
<div class="register">
    <h1>@ViewData["Title"]</h1>
    @{

        <p>
            Sprawdź swój email w celu potwierdzenia stworzenia konta.
        </p>

    }
</div>