<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
@{
    ViewData["Title"] = "Informacje";
}
<div class="information">
    <h1>@ViewData["Title"]</h1>
    <p>Strona internetowa powstała na Wydziale Informatyki Politechniki Białostockiej, w ramach pracy inżynierskiej.</p>
    <p>Autor: Klaudia Matuszak</p>
    <img src="~/images/Politechnika-Bialostocka_LOGO.png" />
</div>



