<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
@model TrainSeatReservation.Commons.Dto.CarriageDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nowy</h1>
<div class="admin-table">
    <h4>Wagon</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeId" class="control-label"></label>
                    <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CarriageClassId" class="control-label"></label>
                    <select asp-for="CarriageClassId" class="form-control" asp-items="ViewBag.CarriageClassId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="EletricalOutlet" class="control-label"></label>
                    <input asp-for="EletricalOutlet" class="form-control" />
                    <span asp-validation-for="EletricalOutlet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CateringCar" class="control-label"></label>
                    <input asp-for="CateringCar" class="form-control" />
                    <span asp-validation-for="CateringCar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BicyclePlace" class="control-label"></label>
                    <input asp-for="BicyclePlace" class="form-control" />
                    <span asp-validation-for="BicyclePlace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn" />
                </div>
            </form>
        </div>
    </div>

    <div class="back">
        <a asp-action="Index">Powrót</a>
    </div>
</div>
