@model TrainSeatReservation.Commons.Dto.TicketDto
<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
@{
    ViewData["Title"] = "Reserve Seats";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="choose-seat">
        <label class="control-label">Wybór klasy wagonu</label>

        @Html.DropDownList("CarriageClass", (List<SelectListItem>)ViewBag.CariageClass,
       "Klasa wagonu", new { @class = "form-control" })

    </div>
    <div class="choose-seat">
        <label class="control-label">Wybór typu wagonu</label>

        @Html.DropDownList("CarriageType", (List<SelectListItem>)ViewBag.CariageType,
       "Typ wagonu", new { @class = "form-control" })


    </div>
    @for (int i = 0; i < ViewBag.SeatsCount; i++)
    {
        <div class="choose-seat">
            <label class="control-label">Wybór siedzenia</label>

            @Html.DropDownList("SeatType", (List<SelectListItem>)ViewBag.SeatType,
           "Rodzaj siedzenia", new { @class = "form-control" })


        </div>
    }

</div>