@model TrainSeatReservation.Commons.Dto.TicketDto
    <!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
    <div class="success">

        <h3>Transakcja przebiegła pomyślnie</h3>
        <p>Bilet został wysłany na podany adres email.</p>
    </div>