/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --primary-color: 19, 122, 249;
    --orange: #fa9e2c;
    --purple: #8f50fb;
    --background-gradient: linear-gradient( var(--orange), var(--purple));
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: #f8f8f8;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f8f8f8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.ui-autocomplete-input {
    z-index: 100;
}
.train-searching-form, .train-result, .optional-items, .personal-data {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.12); 
}
    .train-result{
        min-height: 300px;
        text-align:center;
    }
    .station-input {
        display: inline-block;
        padding: 10px;
        margin: 10px;
    }
.station-input label{
    margin-right: 10px;
}
.train-searching-form h2 {
    color: #db8325;
}
.train-searching-form input, .train-searching-form select, .modal-body input:not([type="button"]), .modal-body select {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border-color: transparent;
}
.train-searching-form button, .modal-button, .train-result a, .next-button a, .personal-data a, .summary a {
    padding: 5px 20px;
    background-image: var(--background-gradient);
   border: none;
    
    border-radius: 15px;
    color: #fff;
    background-repeat: no-repeat !important;
    background-attachment: local;
}
    .train-result a{
        margin: 10px 0;
    }
        .next-button a{
            float:right;
        }
            .train-searching-form button:hover, .modal-button:hover, .train-result a:hover, .next-button a:hover, .personal-data a:hover, .summary a:hover {
                background-color: #9c5c19;
                font-weight: 700;
                border-color: transparent;
                font-size: large;
                text-decoration: none;
                color: #fff;
            }
    .discount-add{
        align-content:flex-end;
        text-align:end;
    }
    .discount-add button{
        margin-top: -4rem;
        margin-right: 2rem;
    }
.modal-button{
    margin: 1rem;
}
.reserve-button{
    margin: 2rem 0;
}
.carousel-control-prev, .carousel-control-next{
    width: 3%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 55px;
        color: #db8325;
        font-weight: 900;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: #db8325;
        font-weight: 900;
    }
.carousel-item{
    text-align:center;
}
.available {
    background-color: #57e657;
}
.seat{
    width:5rem;
    height:5rem;
}
.direction.window{
    margin-bottom: 5px;
}
.direction.corridor {
    margin-bottom: 10px;
}
.nonDirection.window{
    margin-top: 5px;
}
.nonDirection.corridor {
    margin-top: 10px;
}
.compartment {
    display: inline-block;
    border: 1px solid #db8325;
    border-radius: 20px;
    width: 18%;
}
.compartment-window, .compartment-middle {
    display: block;
}
.compartment-inside {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    .compartment-inside > .compartment-window, .compartment-inside > .compartment-middle, .compartment-inside > .compartment-corridor {
        flex: 0 0 40%; /*grow | shrink | basis */
       
    }
.compartment .seat{
    margin: 10px;
    width: 50px;
    height: 50px;
}
.modal-lg{
    max-width: 75%;
}
.selected {
    border-style: inset;
    background-color: #0A0;
    color: #0F0;
}

[id^="seatsDiv_"] p {
    display: inline-block;
}
[id^="seatsDiv_"] input {
    border: none;
    font-size: larger;
    color: #db8325;
    font-weight: bold;
    padding: 0 5px;
    width: 200px
}
.optional-items button, .personal-data input[type="submit"] {
    padding: 5px 10px;
    background-color: #db8325;
    border-color: transparent;
    border-radius: 15px;
    color: #fff;
}
    .optional-items button:hover, .personal-data input[type="submit"]:hover {
        background-color: #9c5c19;
        font-weight: 700;
        border-color: transparent;
    }
    .next-button button{
        float:right;
    }
    .next-button{
        margin: 1.5rem;
    }
.summary input{
    border:none;
    background-color: transparent !important;
    font-weight:700;

}
.summary input:hover{
    border: none;
}
.fas {
    font-size: 50px;
    color: #db8325;
}
.clockpicker{
    display:inline-block;
}
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}


::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
input.clockpicker{
    width: 5rem;
    text-align: center;
}
.popover-title{
    background: var(--background-gradient);
    text-align: center;
    color:#fff !important;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}
    .popover-title .text-primary {
        color: #fff !important;
        font-weight: 600;
    }
.clockpicker-popover .btn {
    margin: 10px 0 0 0;
    background: var(--background-gradient);
    color:#fff;
}
    .clockpicker-popover .btn:hover {
        background: var(--background-gradient);
        color: #fff;
        font-weight: 600;
    }
.clockpicker-canvas line{
    stroke: var(--purple);
}
.clockpicker-canvas circle{
    fill: var(--purple);
    opacity: 0.3;
}