body {
    letter-spacing: 2px;
}
.ticket {
    padding: 10px;
    border: 2px solid #a8a8a8;
    border-radius: 10px;
    background-color: #c0c2c0
}
.tripDate{
    text-align: center;
}
.station1 {
    text-align: left;
    padding: 10px;
}
.station2 {
    text-align: left;
    padding: 10px;
}
.row{
    width: 100%;
    padding: 10px;
}
.table{
    width: 100%;
}

td{
    padding: 5px;
    width: 100% !important;
}
