/*Program powstał na Wydziale Informatyki Politechniki Białostockiej*/
body {
    letter-spacing: 2px;
}
.ticket {
    padding: 20px 10px;
    border: 2px solid #fa9e2c;
    border-radius: 10px;
    background-color: #dbdbdb;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.12);
}
.tripDate{
    text-align: center;
}
.station1 {
    text-align: left;
    padding: 10px;
}
.station2 {
    text-align: left;
    padding: 10px;
}
.row{
    width: 100%;
    padding: 10px;
}
.table{
    width: 100%;
}

td{
    padding: 5px;
    width: 100% !important;
}
.fa-train {
    font-size: 25px;
    color: #fa9e2c;
}
img{
    margin-top:10px;
    width:180px;
    height:80px;
}
h4{
    width:100%;
    text-align: center;
}